@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <main role="main" class="pb-3">


        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Söz uçar yazı kalır <a href="#">Issue Tracker</a>.</p>
        </div>

    </main>
</div>






